# 1

In [6]:
import numpy as np
from math import sqrt

MSE = 0
MAE = 0
RMSE = 0


y_true = list(map(float, input().split()))
y_pred = list(map(float, input().split()))

for t, p in zip(y_true, y_pred):
    MSE += (t - p) ** 2
    MAE += abs(t - p)

n = len(y_pred)
MSE /= n
MAE /= n
RMSE = sqrt(MSE)

print(f"MSE: {MSE:.2f}")
print(f"MAE: {MAE:.2f}")
print(f"RMSE: {RMSE:0.2}")

1 5 2 9 2 3
1.5 5.2 2.3 8.7 2.8 3.3
MSE: 0.20
MAE: 0.40
RMSE: 0.45

# 2

In [13]:
import numpy as np

MSE = 0
MAE = 0


y_true = np.array(list(map(float, input().split())))
y_pred = np.array(list(map(float, input().split())))

mean = y_true.mean()


for t, p in zip(y_true, y_pred):
    MSE += (t - p) ** 2
    MAE += (mean - p) ** 2

n = len(y_pred)
MSE /= n
MAE /= n
R2 = 1 - MSE / MAE

print(f"R2: {R2:.2f}")

1 5 2 9 2 3
1.5 5.2 2.3 8.7 2.8 3.3
R2: 0.97

# 3

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

df = pd.read_csv('penguins.csv')
df.dropna(inplace=True)

In [62]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [87]:
labels = df.species
features = df[['bill_length_mm', 'bill_depth_mm']]
train_features, test_features, train_labels, test_labels = train_test_split( 
            features, labels, test_size=0.2, random_state=123)

In [88]:
def accuracy(pred, test):
    return (pred == test).sum() / len(pred)

In [89]:
best_score = 0
wrost_score = 1

for k in range(1, 11):
    for w in ['uniform', 'distance']:
        algorithm = KNeighborsClassifier(n_neighbors=k, weights=w)
        algorithm.fit(train_features, train_labels)
        pred_labels = algorithm.predict(test_features)
        cur_accuracy = accuracy(pred_labels, test_labels)
        best_score = max(best_score, cur_accuracy)
        wrost_score = min(wrost_score, cur_accuracy)

In [90]:
print('Best accuracy: {:.6f}'.format(best_score)) 
print('Worst accuracy: {:.6f}'.format(wrost_score))

Best accuracy: 0.940299
Worst accuracy: 0.895522